@media (max-width: 750px) {
   .top-cards {
      display: flex;
      flex-direction: column;
      height: fit-content;
      min-width: 100%;
      align-items: center;
      height: fit-content;
      gap: 5px;
   }
   body{
      width: 100%;
      height: 100%;
      text-align: center;
   }
   .middle-cards{
      gap: 0;
     
   }
   .middle-cards > div > img{
      width: 250px;
      height: 80%;
      text-align: center;
   }
   .middle-content-card{
      max-width: 80%;
      text-align: center;
   }
   .buble-text{
      width: 350px;
   }
   .artem-jones-card-second{
      min-width: 70%
   }
   .middle-cards{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      justify-content: center;
   }
   .artem-jones-card{
      min-width: 100%;
   }
   .bottom-part{
      margin-top: 12px;
   }

}
.cards-wrapper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 1rem auto;
}
.top-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.artem-jones-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 40%;
  height: 100%;
}
.artem-jones-card-second {
  display: flex;
  flex-direction: column;
  max-width: 35%;
  min-height: 100%;
  background-color: white;
  align-items: start;
  border: 2px solid black;
  border-radius: 1.6rem;
}
.buble-text {
  background-color: black;
  color: white;
  height: 70%;
  border-radius: 1.6rem;
  padding: 12px;
  width: 300px;
}
.buble-text-sec {
  margin: 0.4rem;
  text-align: start;
  padding: 1rem;
}
.avatar-wrapper {
  display: flex;
  width: 100%;
  text-align: start;
  margin-left: 8px;
}
.avatar-wrapper-sec {
  display: flex;
  text-align: start;
  width: 100%;
  margin: 0.8rem;
}
.avatar-wrapper-sec > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.avatar-wrapper > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
h3 {
  margin: 0;
}
.avatar-wrapper > div {
  margin-top: 12px;
  margin-left: 5px;
} 
/* middle cards */
.middle-cards{
   display: flex;
   width: 100%;
   min-height: 400px;
   gap: 1.5rem;
   align-items: start;
   justify-content: center;
}
.middle-cards > div > img{
   width: 330px;
   height: 100%;
   border-radius: 1.5rem;
   border: 1px solid black;
}
.img-wrapper{
   height: 250px;
}
.middle-content-card{
   display: flex;
   flex-direction: column;
   gap: 5px;
   height: 270px;
   width: 400px;
   border-radius: 1.5rem;
   padding: 1rem;
   background-color: black;
   color: white;
}
 .star-img{
   max-width: 30px;
   max-height: 30px;
   border: none;
   border-radius: none;
   margin: 0 1px;
}
.stars-wrapper{
   display: flex;
   gap: 5px;

}
.name-txt{
   text-align: start;
   width: 100%;
}
h1{
   margin: 0;
}
.bottom-part{
   display: flex;
   flex-direction: column;
   min-height: 300px;
   width: 100%;
   align-items: center;
   border: 2px solid black;
   border-radius: 2rem;
   
}
.bottom-text{
   width: 80%;
   padding-top: 1rem;
}
.bottom-avatar-img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
}
.bottom-avatar-img-right , .bottom-avatar-img-left{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   opacity: 0.5;

}
small{
   color: gray;
}
.bottom-avatar-and-btn-wrapper{
   display: flex;
   align-items: center;
   gap: 8px;
   margin-top: 2rem;
}
span{
   font-size: x-large;
   font-weight: bold;
}
footer{
min-height: 2rem;
}